BOT_TOKEN=

# Use below fields to update the bot for a guild immediately. Useful for development. Otherwise, bot may take a second to propogate
# altered cogs to all guilds using the bot.
DEV_GUILD_ID=
DEV_MODE=